.section.chiefs {
  display: block;
}
.top-chiefs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5em;
  margin-top: 3em;
}
.chief-card {
  display: flex;
  height: 120px;
  background-color: var(--background-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 6px var(--shadow-color);

  img {
    height: 100%;
    width: 120px;
    border-radius: 5px;
  }
  .chief-card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-top: 0.5em;
    .chief-card-name {
      font-size: 1.5em;
      font-weight: bold;
      color: var(--text-color);
    }
    .chief-recipe-count,
    .chief-cuisine {
      font-size: 1.2em;
      color: var(--text-light);
    }
    .chief-icons {
      font-size: 1.5em;
      .facbook {
        margin-right: 0.5em;
        color: #0063f7;
      }
      .twitter {
        margin-right: 0.5em;
        color: #13b4ff;
      }
      .insta {
        margin-right: 0.5em;
        color: #ff0056;
      }
    }
  }
}
